<center><font size="+4">Programming and Data Analytics 2021/2022</font></center>
<center><font size="+2">Module 2</font></center>
<center><font size="+2">Sant'Anna School of Advanced Studies, Pisa, Italy</font></center>
<center><img src="https://github.com/EMbeDS-education/StatsAndComputing20202021/raw/main/IPDP/jupyter/jupyterNotebooks/images/SSSA.png" width="700" alt="The extensible parallel architecture of MultiVeStA"></center>

<center><font size="+2">Course responsible</font></center>
<center><font size="+2">Andrea Vandin a.vandin@santannapisa.it</font></center>

<center><font size="+2">Co-lecturer </font></center>
<center><font size="+2">Daniele Licari d.licari@santannapisa.it</font></center>

---

<center><font size="+2">Part 3</font></center>
<center><font size="+1">Research-driven topics</font></center>
<center><font size="+1">Process-oriented Data Science: Process mining</font></center>

---
---

# Understanding processes and process mining

## Further material

Part of the material for this section is from [here](https://pm4py.fit.fraunhofer.de/getting-started-page#understanding)

Further material can be found here
- [Disco Tour](https://fluxicon.com/disco/files/Disco-Tour.pdf)
- [Coursera MOOC on Process Mining](https://www.coursera.org/learn/process-mining) (it should be for free)

## Processes

Most companies execute several _processes_
- A process represents a _structured collection of __activities__, resources and personnel_ necessary to reach a __goal__
- Examples
  - The process to manufacture a car
  - The process to cook a pizza
  - The process to provide a service
  - __The process to deliver burgers operated by a burger restaurant__
  - ....

## Burger delivery process

Let us consider the burger example.

### Two process instances

Andrea calls the restaurant McPython's
- From the CaPythone chain :)

__Lucy__ handles the order by performing the following __activities__, in this order, involving also the chef __Luigi__, and the delivery boy __Mike__:
<ol>
<li><i><b>Lucy</b> takes your order</i></li>
<li><i><b>Lucy</b> notes down your address</i></li>
<li><i><b>Lucy</b> notes down your preferred payment method</i></li>
<li><i><b>Luigi</b> prepares your burger</i></li>
<li><i><b>Lucy</b> grabs your can of soda</i></li>
<li><i><b>Luigi</b> puts your burger in a box</i></li>
<li><i><b>Lucy</b> wraps your order</i></li>
<li><i><b>Mike</b> delivers your order</i></li>
</ol>

This is an __instance__ of the process, or a __trace__

A few days afterwards, Daniele calls as well the restaurant.

This time, Randy handles the order with the help of the chef __Luigi__ and of the delivery boy __John__:
<ol>
                                    <li><i><b>Randy</b> takes your order</i></li>
                                    <li><i><b>Randy</b> notes down your preferred payment method</i></li>
                                    <li><i><b>Randy</b> notes down your address</i></li>
                                    <li><i><b>Luigi</b> prepares your burger</i></li>
                                    <li><i><b>Luigi</b> puts your burger in a box</i></li>
                                    <li><i><b>Randy</b> wraps your order</i></li>
                                    <li><i><b>John</b> delivers your order</i></li>
                                </ol>
                                
This is another instance of the process, a trace, where
- Daniele did not ask for drinks
- Randy performed certain activities in a different order
  - He first noted down the payment method, and then the address

### Event logs

Such process instances are typically collected in __event logs__
- One row per 'event' (per point 1-8, 1-7 above)
  - An event corresponds to the execution of an activity
- More events per case/instance

This is an excerpt of the event log of the burger restaurant focusing on Andrea's order

<table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Order Number</th>
                                        <th scope="col">Activity</th>
                                        <th scope="col">Employee</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1337</td>
                                        <td>Take Order</td>
                                        <td>Lucy</td>
                                        <td>April 1st 2020</td>
                                        <td>1:37PM</td>
                                    </tr>
                                    <tr>
                                        <td>1337
                                        </td>
                                        <td>Note Address of Customer</td>
                                        <td>Lucy</td>
                                        <td>April 1st 2020</td>
                                        <td>1:39PM</td>
                                    </tr>
                                    <tr>
                                        <td>1337
                                        </td>
                                        <td>Register Payment Method</td>
                                        <td>Lucy</td>
                                        <td>April 1st 2020</td>
                                        <td>1:40PM</td>
                                    </tr>
                                    <tr>
                                        <td>1337
                                        </td>
                                        <td>Prepare Burger</td>
                                        <td>Luigi</td>
                                        <td>April 1st 2020</td>
                                        <td>1:41PM</td>
                                    </tr>
                                    <tr>
                                        <td>1337
                                        </td>
                                        <td>Grab Soda</td>
                                        <td>Lucy</td>
                                        <td>April 1st 2020</td>
                                        <td>1:42PM</td>
                                    </tr>
                                    <tr>
                                        <td>1337
                                        </td>
                                        <td>Put Burger in Box</td>
                                        <td>Luigi</td>
                                        <td>April 1st 2020</td>
                                        <td>1:52PM</td>
                                    </tr>
                                    <tr>
                                        <td>1337
                                        </td>
                                        <td>Wrap Order</td>
                                        <td>Lucy</td>
                                        <td>April 1st 2020</td>
                                        <td>1:53PM</td>
                                    </tr>
                                    <tr>
                                        <td>1337
                                        </td>
                                        <td>Deliver Order</td>
                                        <td>Mike</td>
                                        <td>April 1st 2020</td>
                                        <td>1:55PM</td>
                                    </tr>
                                    </tbody>
                                </table>

### Process discovery

In [15]:
![ciao](../../slides/processMining/simple_sample_model.png)
from IPython.display import Image, display
#img=Image(filename='images/tentativeLecturePlan.png',width=700)
url_github_repo="https://github.com/EMbeDS-education/StatsAndComputing20212022/raw/main/PDA/"
img=Image(url_github_repo+'slides/jupyterNotebooks/images/tentativeLecturePlan.png',width=700)
display(img)

zsh:1: number expected

In [12]:
import pandas as pd
burger_logs = pd.read_csv("../../slides/processMining/running-example.csv",sep=";")
burger_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   case_id    42 non-null     int64
 1   activity   42 non-null     object
 2   timestamp  42 non-null     object
 3   costs      42 non-null     int64
 4   resource   42 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.8+ KB

In [13]:
burger_logs

    case_id            activity                  timestamp  costs resource
0         3    register request  2010-12-30 14:32:00+01:00     50     Pete
1         3    examine casually  2010-12-30 15:06:00+01:00    400     Mike
2         3        check ticket  2010-12-30 16:34:00+01:00    100    Ellen
3         3              decide  2011-01-06 09:18:00+01:00    200     Sara
4         3  reinitiate request  2011-01-06 12:18:00+01:00    200     Sara
5         3  examine thoroughly  2011-01-06 13:06:00+01:00    400     Sean
6         3        check ticket  2011-01-08 11:43:00+01:00    100     Pete
7         3              decide  2011-01-09 09:55:00+01:00    200     Sara
8         3    pay compensation  2011-01-15 10:45:00+01:00    200    Ellen
9         2    register request  2010-12-30 11:32:00+01:00     50     Mike
10        2        check ticket  2010-12-30 12:12:00+01:00    100     Mike
11        2    examine casually  2010-12-30 14:16:00+01:00    400     Sean
12        2              decide  2011-01-05 11:22:00+01:00    200     Sara
13        2    pay compensation  2011-01-08 12:05:00+01:00    200    Ellen
14        1    register request  2010-12-30 11:02:00+01:00     50     Pete
15        1  examine thoroughly  2010-12-31 10:06:00+01:00    400      Sue
16        1        check ticket  2011-01-05 15:12:00+01:00    100     Mike
17        1              decide  2011-01-06 11:18:00+01:00    200     Sara
18        1      reject request  2011-01-07 14:24:00+01:00    200     Pete
19        6    register request  2011-01-06 15:02:00+01:00     50     Mike
20        6    examine casually  2011-01-06 16:06:00+01:00    400    Ellen
21        6        check ticket  2011-01-07 16:22:00+01:00    100     Mike
22        6              decide  2011-01-07 16:52:00+01:00    200     Sara
23        6    pay compensation  2011-01-16 11:47:00+01:00    200     Mike
24        5    register request  2011-01-06 09:02:00+01:00     50    Ellen
25        5    examine casually  2011-01-07 10:16:00+01:00    400     Mike
26        5        check ticket  2011-01-08 11:22:00+01:00    100     Pete
27        5              decide  2011-01-10 13:28:00+01:00    200     Sara
28        5  reinitiate request  2011-01-11 16:18:00+01:00    200     Sara
29        5        check ticket  2011-01-14 14:33:00+01:00    100    Ellen
30        5    examine casually  2011-01-16 15:50:00+01:00    400     Mike
31        5              decide  2011-01-19 11:18:00+01:00    200     Sara
32        5  reinitiate request  2011-01-20 12:48:00+01:00    200     Sara
33        5    examine casually  2011-01-21 09:06:00+01:00    400      Sue
34        5        check ticket  2011-01-21 11:34:00+01:00    100     Pete
35        5              decide  2011-01-23 13:12:00+01:00    200     Sara
36        5      reject request  2011-01-24 14:56:00+01:00    200     Mike
37        4    register request  2011-01-06 15:02:00+01:00     50     Pete
38        4        check ticket  2011-01-07 12:06:00+01:00    100     Mike
39        4  examine thoroughly  2011-01-08 14:43:00+01:00    400     Sean
40        4              decide  2011-01-09 12:02:00+01:00    200     Sara
41        4      reject request  2011-01-12 15:44:00+01:00    200    Ellen

In [6]:
burger_logs[burger_logs.case_id==1]

    case_id            activity                  timestamp  costs resource
14        1    register request  2010-12-30 11:02:00+01:00     50     Pete
15        1  examine thoroughly  2010-12-31 10:06:00+01:00    400      Sue
16        1        check ticket  2011-01-05 15:12:00+01:00    100     Mike
17        1              decide  2011-01-06 11:18:00+01:00    200     Sara
18        1      reject request  2011-01-07 14:24:00+01:00    200     Pete

In [8]:
burger_logs[burger_logs.case_id==2]

    case_id          activity                  timestamp  costs resource
9         2  register request  2010-12-30 11:32:00+01:00     50     Mike
10        2      check ticket  2010-12-30 12:12:00+01:00    100     Mike
11        2  examine casually  2010-12-30 14:16:00+01:00    400     Sean
12        2            decide  2011-01-05 11:22:00+01:00    200     Sara
13        2  pay compensation  2011-01-08 12:05:00+01:00    200    Ellen

In [9]:
burger_logs[burger_logs.case_id==3]

   case_id            activity                  timestamp  costs resource
0        3    register request  2010-12-30 14:32:00+01:00     50     Pete
1        3    examine casually  2010-12-30 15:06:00+01:00    400     Mike
2        3        check ticket  2010-12-30 16:34:00+01:00    100    Ellen
3        3              decide  2011-01-06 09:18:00+01:00    200     Sara
4        3  reinitiate request  2011-01-06 12:18:00+01:00    200     Sara
5        3  examine thoroughly  2011-01-06 13:06:00+01:00    400     Sean
6        3        check ticket  2011-01-08 11:43:00+01:00    100     Pete
7        3              decide  2011-01-09 09:55:00+01:00    200     Sara
8        3    pay compensation  2011-01-15 10:45:00+01:00    200    Ellen

The first time you run this notebook, you need to install 
- The PM4PY library

It is the Python library for process mining
- There exist also an 'R' library (BupaR)
  - https://www.bupar.net/index.html

In [19]:
#%pip install pm4py

Collecting pm4py
  Downloading pm4py-2.2.20-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 8.2 MB/s eta 0:00:0000:0100:01
Collecting graphviz
  Downloading graphviz-0.19.1-py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.3/46.3 KB 1.3 MB/s eta 0:00:00
Collecting sympy
  Downloading sympy-1.10.1-py3-none-any.whl (6.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 10.3 MB/s eta 0:00:0000:0100:01
Collecting deprecation
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: scipy in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pm4py) (1.8.0)
Requirement already satisfied: pandas>=1.1.5 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pm4py) (1.4.1)
Requirement already satisfied: matplotlib in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pm4py) (3.5.1)
Collecting networkx
  Downloading networkx-2.7.1-py3-none-any.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 9.4 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: pytz in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pm4py) (2021.3)
Collecting cvxopt
  Downloading cvxopt-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 9.5 MB/s eta 0:00:00:00:0100:01
Collecting pydotplus
  Downloading pydotplus-2.0.2.tar.gz (278 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 278.7/278.7 KB 8.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: lxml in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pm4py) (4.8.0)
Collecting stringdist
  Downloading StringDist-1.0.9.tar.gz (7.4 kB)
  Preparing metadata (setup.py) ... done
Collecting tqdm
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.4/78.4 KB 2.7 MB/s eta 0:00:00
Collecting intervaltree
  Downloading intervaltree-3.1.0.tar.gz (32 kB)
  Preparing metadata (setup.py) ... done
Collecting pyvis
  Downloading pyvis-0.1.9-py3-none-any.whl (23 kB)
Requirement already satisfied: numpy>=1.19.5 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pm4py) (1.22.2)
Collecting jsonpickle
  Downloading jsonpickle-2.1.0-py2.py3-none-any.whl (38 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pandas>=1.1.5->pm4py) (2.8.2)
Requirement already satisfied: packaging in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from deprecation->pm4py) (21.3)
Collecting sortedcontainers<3.0,>=2.0
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: fonttools>=4.22.0 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from matplotlib->pm4py) (4.29.1)
Requirement already satisfied: cycler>=0.10 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from matplotlib->pm4py) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from matplotlib->pm4py) (3.0.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from matplotlib->pm4py) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from matplotlib->pm4py) (1.3.2)
Requirement already satisfied: ipython>=5.3.0 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pyvis->pm4py) (8.1.1)
Requirement already satisfied: jinja2>=2.9.6 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pyvis->pm4py) (3.0.3)
Collecting mpmath>=0.19
  Downloading mpmath-1.2.1-py3-none-any.whl (532 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 532.6/532.6 KB 7.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: backcall in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (0.2.0)
Requirement already satisfied: stack-data in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (0.2.0)
Requirement already satisfied: appnope in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (0.1.2)
Requirement already satisfied: traitlets>=5 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (5.1.1)
Requirement already satisfied: decorator in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (2.11.2)
Requirement already satisfied: pexpect>4.3 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (58.1.0)
Requirement already satisfied: pickleshare in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (3.0.28)
Requirement already satisfied: matplotlib-inline in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from ipython>=5.3.0->pyvis->pm4py) (0.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from jinja2>=2.9.6->pyvis->pm4py) (2.1.0)
Requirement already satisfied: six>=1.5 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=1.1.5->pm4py) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from jedi>=0.16->ipython>=5.3.0->pyvis->pm4py) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from pexpect>4.3->ipython>=5.3.0->pyvis->pm4py) (0.7.0)
Requirement already satisfied: wcwidth in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->pyvis->pm4py) (0.2.5)
Requirement already satisfied: executing in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->pyvis->pm4py) (0.8.3)
Requirement already satisfied: pure-eval in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->pyvis->pm4py) (0.2.2)
Requirement already satisfied: asttokens in /Users/andrea/Documents/python_envs/env_pda_2022/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->pyvis->pm4py) (2.0.5)
Using legacy 'setup.py install' for intervaltree, since package 'wheel' is not installed.
Using legacy 'setup.py install' for pydotplus, since package 'wheel' is not installed.
Using legacy 'setup.py install' for stringdist, since package 'wheel' is not installed.
Installing collected packages: stringdist, sortedcontainers, mpmath, tqdm, sympy, pydotplus, networkx, jsonpickle, intervaltree, graphviz, cvxopt, deprecation, pyvis, pm4py
  Running setup.py install for stringdist ... done
  Running setup.py install for pydotplus ... done
  Running setup.py install for intervaltree ... done
Successfully installed cvxopt-1.3.0 deprecation-2.1.0 graphviz-0.19.1 intervaltree-3.1.0 jsonpickle-2.1.0 mpmath-1.2.1 networkx-2.7.1 pm4py-2.2.20 pydotplus-2.0.2 pyvis-0.1.9 sortedcontainers-2.4.0 stringdist-1.0.9 sympy-1.10.1 tqdm-4.64.0
Note: you may need to restart the kernel to use updated packages.

# Tutorial on Fluxicon Disco

## Load data

In [7]:
import pandas as pd

In [9]:
logs = pd.read_csv("../../slides/processMining/PurchasingExample.csv")
logs["Start Timestamp"]=pd.to_datetime(logs["Start Timestamp"])
logs["Complete Timestamp"]=pd.to_datetime(logs["Complete Timestamp"])
logs.sort_values(by="Start Timestamp",inplace=True)

logs

,Case ID,Start Timestamp,Complete Timestamp,Activity,Resource,Role
0,1,2011-01-01 00:00:00,2011-01-01 00:37:00,Create Purchase Requisition,Kim Passa,Requester
1,2,2011-01-01 00:16:00,2011-01-01 00:29:00,Create Purchase Requisition,Immanuel Karagianni,Requester
2,3,2011-01-01 02:23:00,2011-01-01 03:03:00,Create Purchase Requisition,Kim Passa,Requester
3,1,2011-01-01 05:37:00,2011-01-01 05:45:00,Create Request for Quotation,Kim Passa,Requester
4,1,2011-01-01 06:41:00,2011-01-01 06:55:00,Analyze Request for Quotation,Karel de Groot,Purchasing Agent
...,...,...,...,...,...,...
9114,1284,2011-10-14 13:53:00,2011-10-14 14:07:00,Pay Invoice,Pedro Alvares,Financial Manager
9115,1448,2011-10-14 13:56:00,2011-10-14 14:24:00,Settle Dispute With Supplier,Karalda Nimwada,Financial Manager
9116,1941,2011-10-14 14:05:00,2011-10-14 14:18:00,Analyze Request for Quotation,Karel de Groot,Purchasing Agent
9117,1448,2011-10-14 14:24:00,2011-10-14 14:24:00,Authorize Supplier's Invoice payment,Karalda Nimwada,Financial Manager
9118,1448,2011-10-14 15:16:00,2011-10-14 15:31:00,Pay Invoice,Karalda Nimwada,Financial Manager

In [16]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9119 entries, 0 to 9118
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Case ID             9119 non-null   int64
 1   Start Timestamp     9119 non-null   datetime64[ns]
 2   Complete Timestamp  9119 non-null   datetime64[ns]
 3   Activity            9119 non-null   object
 4   Resource            9119 non-null   object
 5   Role                9119 non-null   object
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 498.7+ KB

## Extract the case with ID 1

In [17]:
logs[logs["Case ID"]==1]

,Case ID,Start Timestamp,Complete Timestamp,Activity,Resource,Role
0,1,2011-01-01 00:00:00,2011-01-01 00:37:00,Create Purchase Requisition,Kim Passa,Requester
3,1,2011-01-01 05:37:00,2011-01-01 05:45:00,Create Request for Quotation,Kim Passa,Requester
4,1,2011-01-01 06:41:00,2011-01-01 06:55:00,Analyze Request for Quotation,Karel de Groot,Purchasing Agent
12,1,2011-01-01 11:43:00,2011-01-01 12:09:00,Send Request for Quotation to Supplier,Karel de Groot,Purchasing Agent
13,1,2011-01-01 12:32:00,2011-01-01 16:03:00,Create Quotation comparison Map,Magdalena Predutta,Purchasing Agent
36,1,2011-01-01 22:44:00,2011-01-01 23:13:00,Analyze Quotation Comparison Map,Immanuel Karagianni,Requester
37,1,2011-01-01 23:13:00,2011-01-01 23:13:00,Choose best option,Tesca Lobes,Requester
42,1,2011-01-02 01:22:00,2011-01-02 09:20:00,Settle Conditions With Supplier,Francois de Perrier,Purchasing Agent
60,1,2011-01-02 09:58:00,2011-01-02 10:10:00,Create Purchase Order,Karel de Groot,Purchasing Agent
68,1,2011-01-02 14:09:00,2011-01-02 14:43:00,Confirm Purchase Order,Sean Manney,Supplier
97,1,2011-01-02 20:49:00,2011-01-03 03:37:00,Deliver Goods Services,Sean Manney,Supplier
137,1,2011-01-03 11:20:00,2011-01-03 11:21:00,Release Purchase Order,Elvira Lores,Requester
176,1,2011-01-03 19:09:00,2011-01-03 19:10:00,Approve Purchase Order for payment,Karel de Groot,Purchasing Agent
221,1,2011-01-04 00:54:00,2011-01-04 00:54:00,Send Invoice,Kiu Kan,Supplier
276,1,2011-01-04 15:08:00,2011-01-04 15:13:00,Release Supplier's Invoice,Karalda Nimwada,Financial Manager
277,1,2011-01-04 15:13:00,2011-01-04 15:13:00,Authorize Supplier's Invoice payment,Karalda Nimwada,Financial Manager
278,1,2011-01-04 15:22:00,2011-01-04 15:31:00,Pay Invoice,Pedro Alvares,Financial Manager

## Extract the case with ID 2

In [15]:
logs[logs["Case ID"]==2]

,Case ID,Start Timestamp,Complete Timestamp,Activity,Resource,Role
1,2,2011-01-01 00:16:00,2011-01-01 00:29:00,Create Purchase Requisition,Immanuel Karagianni,Requester
5,2,2011-01-01 08:16:00,2011-01-01 08:26:00,Create Request for Quotation,Alberto Duport,Requester
7,2,2011-01-01 09:34:00,2011-01-01 09:38:00,Analyze Request for Quotation,Karel de Groot,Purchasing Agent
9,2,2011-01-01 10:16:00,2011-01-01 10:21:00,Amend Request for Quotation,Christian Francois,Requester
10,2,2011-01-01 11:15:00,2011-01-01 11:48:00,Analyze Request for Quotation,Magdalena Predutta,Purchasing Agent
14,2,2011-01-01 12:33:00,2011-01-01 12:39:00,Amend Request for Quotation,Esmana Liubiata,Requester
15,2,2011-01-01 13:28:00,2011-01-01 13:38:00,Analyze Request for Quotation,Karel de Groot,Purchasing Agent
18,2,2011-01-01 15:18:00,2011-01-01 15:40:00,Send Request for Quotation to Supplier,Francois de Perrier,Purchasing Agent
19,2,2011-01-01 15:55:00,2011-01-01 16:43:00,Create Quotation comparison Map,Karel de Groot,Purchasing Agent
39,2,2011-01-01 23:33:00,2011-01-01 23:44:00,Analyze Quotation Comparison Map,Esmana Liubiata,Requester
40,2,2011-01-01 23:44:00,2011-01-01 23:44:00,Choose best option,Fjodor Kowalski,Requester
47,2,2011-01-02 02:15:00,2011-01-02 15:07:00,Settle Conditions With Supplier,Magdalena Predutta,Purchasing Agent
77,2,2011-01-02 16:21:00,2011-01-02 16:31:00,Create Purchase Order,Magdalena Predutta,Purchasing Agent
94,2,2011-01-02 20:23:00,2011-01-02 20:29:00,Confirm Purchase Order,Esmeralda Clay,Supplier
123,2,2011-01-03 03:15:00,2011-01-04 14:53:00,Deliver Goods Services,Esmeralda Clay,Supplier
312,2,2011-01-04 23:01:00,2011-01-04 23:02:00,Release Purchase Order,Elvira Lores,Requester
342,2,2011-01-05 09:03:00,2011-01-05 09:04:00,Approve Purchase Order for payment,Karel de Groot,Purchasing Agent
367,2,2011-01-05 14:50:00,2011-01-05 14:50:00,Send Invoice,Esmeralda Clay,Supplier
409,2,2011-01-06 05:04:00,2011-01-06 05:07:00,Release Supplier's Invoice,Pedro Alvares,Financial Manager
411,2,2011-01-06 05:38:00,2011-01-06 05:58:00,Settle Dispute With Supplier,Karalda Nimwada,Financial Manager
413,2,2011-01-06 05:58:00,2011-01-06 05:58:00,Authorize Supplier's Invoice payment,Pedro Alvares,Financial Manager
415,2,2011-01-06 06:21:00,2011-01-06 06:32:00,Pay Invoice,Karalda Nimwada,Financial Manager